.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  margin: 20px 0 0 0;
  font-size: 24px;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 68px;
  display: inline-block;
  margin-top: -5px;
  margin-right: 7px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 58px;
  line-height: 58px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}
